@media only screen and (max-width:800px) {
  #name {
    font-size: 50px;
  }
}

@font-face {
  font-family: pixel;
  src: url(PixelifySans-VariableFont_wght.ttf);
}

html, body {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

#myVideo {
    top: 0;
    right: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
  }

  .name {
    bottom: 30%;
    width: 100%;
    color: rgb(249, 231, 255);
    position: fixed;
    text-align: center;
    font-family: 'pixel', Courier, monospace;      
  -webkit-animation: glow 10s ease-in-out infinite alternate;
  -moz-animation: glow 10s ease-in-out infinite alternate;
   animation: glow 10s ease-in-out infinite alternate;
    
  }

  .text {
    font-size: 90px;
  }

@keyframes glow {
   from {
    opacity: 1;
   }
   to {
    opacity: .5;
   }}

   .profile-img {
    width: 120px;
    opacity: .8;
    border-radius: 10px;
   }

   .early-button {
    color: azure;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 10px;
    border-color: #12ebff;
    background-color: #aa33fa;
   }
   
   